<div class="component">
  <div>
    <span>User Detail</span>
  </div>
  <p *ngIf='!user'>Retrieving data ... this may take a while...</p>
  <table class="table table-sm form-smaller" *ngIf="user">
    <tr><td>Id:</td><td>{{ user.id }}</td></tr>
    <tr><td>Name:</td><td>{{ user.firstName }} {{ user.lastName }}</td></tr>
    <tr><td>UserName:</td><td>{{ user.userName }}</td></tr>
    <tr><td>Phone:</td><td>{{ user.phoneNumber }}</td></tr>
    <tr><td>Email:</td><td>{{ user.email }}</td></tr>
    <tr><td>Reviewer?:</td><td>{{ user.reviewer ? "Yes" : "No" }}</td></tr>
    <tr><td>Admin?:</td><td>{{ user.admin ? "Yes" : "No" }}</td></tr>
  </table>
  <div>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
</div>