
<div class="component">
    <div>
      <span>Product List</span>
      <span> | <a routerLink='/products/create'>Create New</a></span>
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Id</td>
          <td>PartNumber</td>
          <td>Name</td>
          <td>Price</td>
          <td>Unit</td>
          <td>PhotoPath</td>
          <td>Vendor</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of products'>
          <td>{{ product.id }}</td>
          <td>{{ product.partNumber }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.photoPath }}</td>
          <td>{{ product.vendor.name }}</td>
          <td>
            <a routerLink='/products/detail/{{product.id}}'>Detail</a>
            <span> | <a routerLink='/products/edit/{{product.id}}'>Edit</a></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>