<div class="component">
  <div>
    <span>Product Detail</span>
  </div>
  <p *ngIf='!product'>Retrieving data ... this may take a while...</p>
  <div *ngIf="product">
    <table class="table table-sm form-smaller">
      <tr><td>Id:</td><td>{{ product.id }}</td></tr>
      <tr><td>PartNumber:</td><td>{{ product.partNumber }}</td></tr>
      <tr><td>Name:</td><td>{{ product.name }}</td></tr>
      <tr><td>Price:</td><td>{{ product.price | currency }}</td></tr>
      <tr><td>Unit:</td><td>{{ product.unit }}</td></tr>
      <tr *ngIf="product.photoPath"><td>PhotoPath:</td><td>{{ product.photoPath }}</td></tr>
      <tr><td>Vendor:</td><td>{{ product.vendor.name }}</td></tr>
    </table>
    <div>
      <a routerLink="/products/edit/{{product.id}}" class="btn btn-warning">Edit</a>
      | <button class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
    </div>
</div>