<div class = "component" *ngIf='request'>
  <div>
    <span class ="page title">Request Edit</span>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2">Description:</label>
    <div class="col-sm-8">
      <input [(ngModel)]="request.description" class="form-control" type="text" name="description"
        #description="ngModel" required minlength="2">
    </div>
    <div *ngIf="description.invalid && description.touched" class="col-form-label col-sm-2 text-danger">
      <label *ngIf="description?.errors.required">Required</label>
      <label *ngIf="description?.errors.minlength">2 chars min</label>
    </div>
  </div>
  <div class="form-group row">
      <label class="col-form-label col-sm-2">Justification:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="request.justification" class="form-control" type="text" name="justification"
          #justification="ngModel" required minlength="2">
      </div>
      <div *ngIf="justification.invalid && justification.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="justification?.errors.required">Required</label>
        <label *ngIf="justification?.errors.minlength">2 chars min</label>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Date Needed:</label>
        <div class="col-sm-8">
          <input [(ngModel)]="request.dateNeeded" class="form-control" type="text" name="phoneNumber"
            #dateNeeded="ngModel" required minlength="10"  placeholder="MM/DD/YYYY">
        </div>
        <div *ngIf="dateNeeded.invalid && dateNeeded.touched" class="col-form-label col-sm-2 text-danger">
          <label *ngIf="dateNeeded?.errors.required">Required</label>
          <label *ngIf="dateNeeded?.errors.minlength">MM/DD/YYYY</label>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-form-label col-sm-2">Delivery Mode:</label>
          <div class="col-sm-8">
            <input [(ngModel)]="request.deliveryMode" class="form-control" type="text" name="deliveryMode"
              #deliveryMode="ngModel">
          </div>
          <div *ngIf="deliveryMode.invalid && deliveryMode.touched" class="col-form-label col-sm-2 text-danger">
            <label *ngIf="deliveryMode?.errors.required">Required</label>
          </div>
        </div>
      <button class="btn btn-secondary" (click)="save()">Save Request</button>
</div>